dist: trusty
language: php
sudo: required
branches:
  only:
  - master
  - develop
notifications:
  email:
    recipients:
      - ci.report@ost.com
    on_success: always
    on_failure: always
php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2
env:
  - BUILD_ENV=TRAVIS
before_install:
install:
before_script:
  - composer update
script:
  - phpunit --bootstrap vendor/autoload.php tests/OSTSdkTest.php
after_script:
